@font-face {
    font-family: 'PKMN Mystery Dungeon';
    src: url('PKMN-Mystery-Dungeon.woff2') format('woff2'),
        url('PKMN-Mystery-Dungeon.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

